// app global css in SCSS form


body {
  position: absolute;
  display: flex;
  padding: 0 4em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  font-family: 'Roboto Slab', serif;
}
